body, html {
 overflow-y: hidden;
 overflow-x: auto;
 transition: all .8s;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("IMG/heart1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("IMG/confetti.gif");
  background-repeat: repeat;
  background-size: contain;
  pointer-events: none;
  animation: floatFlowers 10s linear infinite;
  z-index: 1;
}

@keyframes floatFlowers {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 100%;
  }
}


.body {
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 transition: transform 0.5s ease;
 margin-top: 100px;
 z-index: 3;
}

h2 {
 animation: 1s blink linear infinite;
 display: flex;
 justify-content: center;
}

.birthdayCard {
 position: relative;
 width: 250px;
 height: 350px;
 cursor: pointer;
 
 transform: perspective(2500px);
 transition: 1s;
}

#UrlError{
  margin: 100px 30px;
  color: red;
}

.card {
  width: 250px;
  height: 350px;
  
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: left; 
  transition: transform 0.8s;
  z-index: 5;
}

.cardFront,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.card-back {
  background: white;
  transform: rotateY(180deg); 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gold;
  border-right: 2px dashed gold;  
  background: linear-gradient(280deg, #f18396, #a500f1);
  
}

.card-back img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 4px;

}

.cardFront {
 position: absolute;
 background-color: #F7879A;
 width: 250px;
 height: 350px;
 overflow: hidden;
 transform-origin: left;
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
 transition: .6s;
 border: 2px solid gold;
}

.happy {
 font-family: Tahoma, sans-serif;
 text-align: center;
 margin: 30px;
 background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
 transition: .1s;
}

.balloons {
 position: absolute;
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
 position: absolute;
 width: 85px;
 height: 95px;
 border-radius: 50%;
}

.balloonOne {
 background-color: rgb(239, 71, 111, 0.7);
 left: -10px;
 top: 50px;
}

.balloonTwo {
 background-color: rgb(6, 214, 160, 0.7);
 left: 50px;
 top: 20px;
}

.balloonThree {
 background-color: rgb(255, 209, 102, 0.7);
 left: 110px;
 top: 50px;
}

.balloonFour {
 background-color: rgb(17, 138, 178, 0.7);
 left: 170px;
 top: 20px;
}


.balloonOne:before,
.balloonTwo:before,
.balloonThree:before,
.balloonFour:before {
 content: "";
 position: absolute;
 width: 1px;
 height: 155px;
 background-color: #ffd166;
 top: 95px;
 left: 43px;
}

.balloonOne:after,
.balloonTwo:after,
.balloonThree:after,
.balloonFour:after {
 content: "";
 position: absolute;
 border-right: 7px solid transparent;
 border-left: 7px solid transparent;
 top: 94px;
 left: 37px;
}

.balloonOne:after {
 border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
 border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
 border-bottom: 10px solid #ffd166;
}

.balloonFour:after {
 border-bottom: 10px solid #118ab2;
}



.plate {
  position: absolute;
  width: 130px;
  height: 5px;
  background-color: #843a24;
  left: 60px;
  top: 320px;
}

.cake {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 50px;
  background-color: #f0199a;
  border-radius: 10px 10px 0 0;
  top: -50px;
  left: 15px;
  box-shadow: inset 0 -15px #f9824f, inset 0 15px #472511;
}

.cake:before {
  content: "";
  position: absolute;
  background-color: #432818;
  width: 10px;
  height: 20px;
  top: 5px;
  border-radius: 20px;
  box-shadow: 10px 5px #f0acd5, 20px 0px #432818, 30px 2px #f15bb5,
    40px 5px #432818, 50px 5px #dba8c7, 60px 0px #432818, 70px 5px #f15bb5,
    80px 5px #432818, 90px 5px #ca9eb8;
}

.plate:before {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(
    -45deg,
    #7300ff,
    #7300ff 3px,
    #00ffdd 3px,
    #00f5d4 6px
  );
  width: 7px;
  height: 25px;
  top: -75px;
  left: 61px;
}

.plate:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #333;
  top: -80px;
  left: 64px;
}

.flame {
    position: absolute;
    background-color: #ff5100;
    border: 1px solid #ffa500;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotate(-45deg);
    width:15px;
    height:15px;
    opacity:0.7;
    top:-93px;
    left:56px;
    box-shadow: 0px 0px 2px 2px #ff652edb;
    animation: flame 30ms 200ms ease-in infinite alternate;
  }

  @keyframes flame {
    0%{
        transform: rotate(-45deg);
    }
    20%{
        transform: rotate(-50deg);
    }
    40%{
        transform: rotate(-44deg);
    }
    60%{
        transform: rotate(-45deg) scaleY(1.04);
    }
    80%{
        transform: rotate(-47deg) scaleY(0.92);
    }
    100%{
        transform: rotate(-50deg);
    }
  }

.cardInside {
 position: absolute;
 background-color: #F7879A;
 width: 250px;
 height: 350px;
 z-index: 1;
 left: 0;
 top: 0;
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
 border: 2px solid gold;
 border-left: 2px dashed gold; 
}

p {
 font-family: cursive;
 margin: 2px 8px 8px 18px;
 color: #000;
}

#desc{
    
    font-size: medium;
    position: relative;
    height: 210px;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

#desc::-webkit-scrollbar {
    display: none;
}

.name {
 position: fixed;
 right: 0px;

 text-align: right;
 color: #333;
 text-decoration: underline;
}

.back {
 font-family: Tahoma, sans-serif;
 color: #333;
 text-align: center;
 margin: 20px;
 outline-color: #333;
 outline-style: dashed;
}

.birthdayCard:hover {
 transform: perspective(2500px) rotate(5deg);
 
}


.birthdayCard:hover .card-inner {
  transform: rotateY(-160deg);
}



@keyframes blink {
 0% {
  color: white;
 }

 20% {
  color: yellow;
 }

 40% {
  color: greenyellow;
 }

 60% {
  color: red;
 }

 80% {
  color: hotpink;
 }

 100% {
  color: blue;
 }
}

@media screen and (max-width: 820px) {
  .body:hover {
    transform: translate(calc(-100% + 210px), -50%);
  }
}

@media screen and (max-width: 560px) {
  .body:hover {
    transform: translate(calc(-100% + 320px), -50%);
  }
}

